.git
.github
.husky
.turbo
.venv
.vscode
node_modules
.npm
.pnpm-store

.env
.env.*
!.env.example
!.env.*.example

apps/mobile
apps/web
archive
css
data
docs
grant-applications-2026
k8s
monitoring
netlify
nginx
photos
sampleview
scripts
snapshot-merge-artifacts
source code
test-results
tools

apps/api/dist
apps/api/coverage
apps/api/data
apps/api/logs
apps/api/test-results
apps/api/tests
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
apps/api/prisma/dev_test.db

*.log
*.png
*.jpg
*.jpeg
*.gif
*.webp
*.tsbuildinfo
